<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of courses</title>

    <link th:replace="fragments/template :: bootstrap"/>
</head>
<body>

<!-- Navigation -->
<nav th:replace="fragments/template :: navbar"></nav>

<div class="container">
    <div sec:authorize="hasRole('ADMIN')">
        <form th:action="@{/courses}" method="post">
            <div><label> Course name: <input type="text" name="name"/></label><input type="submit" value="Add"/>
            </div>
        </form>
    </div>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <span th:if="${#httpServletRequest.remoteUser != null}">
                <th scope="col">Registered</th>
                <th scope="col">Paid</th>
                <th scope="col">Actions</th>
            </span>
        </tr>
        </thead>
        <tbody>
        <tr th:each="course: ${courses}">
            <td th:text="${course.name}"></td>
            <span th:if="${#httpServletRequest.remoteUser != null}">
                <td>
                    <input class="form-check-input" type="checkbox" th:checked="${course.registeredForCurrentUser}"
                           disabled>
                </td>
                <td>
                    <input class="form-check-input" type="checkbox" th:checked="${course.paid}" disabled>
                </td>
                <td>
                    <form th:action="@{/userCourses}" method="post">
                        <input type="hidden" name="id" th:value="${course.id}"/>
                        <div><input type="submit" value="Subscribe"/></div>
                    </form>
                </td>
            </span>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="fragments/template :: scripts"></div>

</body>
</html>