<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Admin View</title>

    <link th:replace="fragments/template :: bootstrap"/>
</head>
<body>

<!-- Navigation -->
<nav th:replace="fragments/template :: navbar"></nav>

<div class="container">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Course Name</th>
            <th scope="col">User Name</th>
            <th scope="col">Paid</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="userCourse: ${userCourses}">
            <td th:text="${userCourse.courseName}"></td>
            <td th:text="${userCourse.userName}"></td>
            <td>
                <input class="form-check-input" type="checkbox" th:checked="${userCourse.paid}" disabled>
            </td>
            <td>
                <form class="form-inline" th:action="@{/maintenance}" method="post">
                    <input type="hidden" name="id" th:value="${userCourse.id}"/>
                    <div><input type="submit" value="Remove"/></div>
                </form>
                <form class="form-inline" th:if="${!userCourse.paid}" th:action="@{/payment}" method="post">
                    <input type="hidden" name="id" th:value="${userCourse.id}"/>
                    <div><input type="submit" value="Confirm Payment"/></div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="fragments/template :: scripts"></div>

</body>
</html>
