<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Registration</title>

    <link th:replace="fragments/template :: bootstrap"/>
</head>
<body>

<!-- Navigation -->
<nav th:replace="fragments/template :: navbar"></nav>

<div class="container">
    <div class="row" th:each="course: ${courses}">
        <div class="col">
            <span th:text="${course.id}"/>
        </div>
        <div class="col">
            <span th:text="${course.name}"/>
        </div>
    </div>
    </th:each>
</div>

<div class="container">
    <form action="#" th:action="@{/register}" th:object="${userRegisterForm}" method="POST" enctype="utf8">
        <div>
            <label>Full name</label>
            <input type="text" th:field="*{name}"/>
            <p th:each="error: ${#fields.errors('name')}"
               th:text="${error}">Validation error</p>
        </div>
        <div>
            <label>Year of birth</label>
            <input type="text" th:field="*{yearOfBirth}"/>
            <p th:each="error : ${#fields.errors('yearOfBirth')}"
               th:text="${error}">Validation error</p>
        </div>
        <div>
            <label>Password</label>
            <input type="password" th:field="*{password}"/>
            <p th:each="error : ${#fields.errors('password')}"
               th:text="${error}">Validation error</p>
        </div>
        <button type="submit">Submit</button>
    </form>
</div>

<div th:replace="fragments/template :: scripts"></div>

</body>
</html>



